
.middle_left {
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 350px;
  background:#ffffff;
  padding: 1%;
}
.middle_right {
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 700px;
  background:#ffffff;
  padding: 1%;
}
.title{
  background: #f8f8f8;
  line-height: 36px;
  height: 38px;
  /*padding: 55px 0 0 121px;*/
  float: none;
  text-align: -webkit-center;
  /*zoom: 1;*/
}
